@import url(partials/reset.css);
@import url(partials/navigation.css);
@import url(partials/hero-section.css);
@import url(partials/section-1.css);
@import url(partials/section-2.css);
@import url(partials/section-3.css);
@import url(partials/section-4.css);
@import url(partials/section-5.css);
@import url(partials/section-6.css);
@import url(partials/footer.css);
@import url(partials/noticias.css);
@import url(partials/post-page.css);
@import url(partials/doacoes.css);
@import url(partials/sobre-nos.css);
@import url(partials/inscricoes.css);
@import url(partials/transparencia.css);
@import url(partials/politica.css);
@import url(partials/termos.css);
@import url(partials/impacto.css);
@import url(partials/quero-apoiar.css);
@import url(partials/inscricao-projeto.css);
