* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    font-family: 'MinhaFonte', Arial, sans-serif;
}

:root {
    --cor-texto-escuro: #2d2d2d;
    --cor-texto-claro: #FFFFFF;
    --cor-fundo-claro: #FFFFFF;
    --fundo-azul: #008CD2;
    --cor-links: #969696;
}

main {
    padding-top: 140px !important;
}



/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #003c78 #f2f6fb;
}





/* ExtraLight (200) */
@font-face {
    font-family: 'MinhaFonte';
    src: url('../../assets/fonts/Barlow-ExtraLight.woff2') format('woff2'),
        url('../../assets/fonts/Barlow-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Light (300) */
@font-face {
    font-family: 'MinhaFonte';
    src: url('../../assets/fonts/Barlow-Light.woff2') format('woff2'),
        url('../../assets/fonts/Barlow-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Regular (400) */
@font-face {
    font-family: 'MinhaFonte';
    src: url('../../assets/fonts/Barlow-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Barlow-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium (500) */
@font-face {
    font-family: 'MinhaFonte';
    src: url('../../assets/fonts/Barlow-Medium.woff2') format('woff2'),
        url('../../assets/fonts/Barlow-Medium.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* SemiBold (600) */
@font-face {
    font-family: 'MinhaFonte';
    src: url('../../assets/fonts/Barlow-SemiBold.woff2') format('woff2'),
        url('../../assets/fonts/Barlow-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold (700) */
@font-face {
    font-family: 'MinhaFonte';
    src: url('../../assets/fonts/Barlow-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Barlow-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ExtraBold (800) */
@font-face {
    font-family: 'MinhaFonte';
    src: url('../../assets/fonts/Barlow-ExtraBold.woff2') format('woff2'),
        url('../../assets/fonts/Barlow-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* black (900) */
@font-face {
    font-family: 'MinhaFonte';
    src: url('../../assets/fonts/Barlow-Black.woff2') format('woff2'),
        url('../../assets/fonts/Barlow-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}