/* ===== Seção Impacto ===== */
.apoio {
    background: #fff;
    /* Azul de fundo */
    padding: 60px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apoio-container {
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: 1200px;
    width: 100%;
}

.apoio-img img {
    min-width: 50%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px 0 20px 0;
    display: block;
}

.apoio-conteudo {
    color: #003c78;
    width: 50%;
    text-align: end;
}

.apoio-conteudo h2 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
}

.apoio-conteudo h2 span {
    color: #ffd200;
    font-weight: 700;
}

.apoio-conteudo p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
    padding: 0 0 0 40px;
}

.btn-apoio {
    display: inline-flex;
    align-items: center;
    background: #00aaff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
    border: 1px solid transparent;
}

.btn-apoio span {
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.btn-apoio:hover {
    background: #fff;
    border: 1px solid #00aaff;
    color: #003c78;
}

.btn-apoio:hover span {
    transform: rotate(-45deg);

}


/* Animações - Sessão Apoio */
.apoio-img img,
.apoio-conteudo h2,
.apoio-conteudo p,
.btn-apoio {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity .8s ease, transform .8s ease;
}

.reveal {
    opacity: 1 !important;
    transform: translateY(0) !important;
}


/* ===== Responsivo ===== */
@media (max-width: 900px) {

    .apoio {
        padding: 60px 10%;
    }

    .apoio-container {
        flex-direction: column-reverse;
        text-align: center;
        gap: 30px;
    }

    .apoio-img {
        width: 100%;
    }

    .apoio-img img {
        width: 100%;
        height: 200px;
        padding: 0;
    }

    .apoio-conteudo {
        width: 100%;
        text-align: center;
    }

    .apoio-conteudo p {
        padding: 0;
    }
}