.section-noticias {
    padding: 80px 5%;
    background: #E7E7E7;
    text-align: center;
    color: #333;
}

.titulo-noticias {
    max-width: 900px;
    margin: 0 auto 50px auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    align-items: flex-start;    
}

.titulo-noticias h2 {
    font-size: 46px;
    font-weight: 600;
    text-align: end;
    margin-bottom: 15px;
    width: 40%;
}


.titulo-noticias h2 span {
    color: #003c78;
    /* azul destaque */
}

.titulo-noticias div {
    width: 50%;
    text-align: start;
    padding-top: 10px;
}

.titulo-noticias div p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}

.titulo-noticias div .btn {
    background: #003c78;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: background 0.3s;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.titulo-noticias div span {
    display: inline-block;
    transition: transform 0.3s ease;
}

.titulo-noticias div .btn:hover {
    background: #fff;
    color: #003c78;
    border: 1px solid #003c78;
}

.titulo-noticias div .btn:hover span {
    transform: rotate(-45deg);
}

/*posts mais recentes*/
.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px 100px;
}

.post-card {
    background: #fff;
    border-radius: 20px 0 20px 0;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    text-decoration: none;
    color: inherit;
}

.post-card:hover {
    transform: translateY(-5px);
    border: 1px solid #003c78;
}
.post-card:hover .setinha {
    transform: rotate(-45deg);
}

.post-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.post-content h3 {
    font-size: 16px;
    margin: 0 0 10px;
    color: #003c78;
}

.post-content p {
    font-size: 14px;
    color: #555;
    flex-grow: 1;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 10px 0;
    color: #777;
}

.post-meta span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.post-footer {
    padding: 16px;

}

.post-footer span {
    background: #003c78;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px 0 8px 0;
    font-size: 14px;
    transition: transform 0.3s ease, background 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-footer span .setinha {
    background: transparent;
}

.post-footer span:hover {
    background: #0055a4;
}

.post-footer span:hover .setinha {
    background: transparent;
    transform: rotate(-45deg);
}



/* Responsivo */
@media (max-width: 992px) {

    .titulo-noticias {
        max-width: 100%;
        margin: 0 auto 50px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulo-noticias h2 {
        width: 100%;
        text-align: center;
    }

    .titulo-noticias div {
        width: 100%;
    }

}

/* Mobile - vira carrossel horizontal */
@media (max-width: 768px) {
    .posts-container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 16px;
        padding: 20px;
        -webkit-overflow-scrolling: touch;
        /* suaviza no iOS */
    }

    .posts-container::-webkit-scrollbar {
        display: none;
        /* esconde a barra no Chrome/Safari */
    }

    .post-card {
        max-width: 80%;
        flex: 0 0 auto;
        scroll-snap-align: start;
    }
}